[tool.poetry]
name = "makejinja"
version = "2.1.0"
description = "Automatically generate files based on Jinja templates. Use it to easily generate complex Home Assistant dashboards!"
authors = ["Mirko Lenz <mirko@mirkolenz.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/mirkolenz/makejinja"

[tool.poetry.scripts]
makejinja = "makejinja.cli:makejinja_cli"

[tool.poetry.dependencies]
python = "^3.11"
jinja2 = "^3.1"
pyyaml = "^6.0"
rich-click = "^1.7"
typed-settings = "^23.0"

[tool.poetry.group.dev.dependencies]
pytest = "^7.4"
pytest-cov = "^4.1"

[tool.poetry.group.docs.dependencies]
pdoc = "^14.1"

[tool.pytest.ini_options]
addopts = "--cov makejinja --cov-report term-missing -vv"

[tool.ruff]
target-version = "py311"
select = ["B", "E", "F", "W"]

[tool.ruff.pydocstyle]
convention = "google"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
