[tool.poetry]
name = "makejinja"
version = "0.7.5"
description = "Automatically generate files based on Jinja templates. Use it to easily generate complex Home Assistant dashboards!"
authors = ["Mirko Lenz <mirko@mirkolenz.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/mirkolenz/makejinja"

[tool.poetry.scripts]
makejinja = "makejinja.cli:app"

[tool.poetry.dependencies]
python = "^3.9"
jinja2 = "^3.1.2"
python-simpleconf = { extras = ["all"], version = "^0.5.7" }
typer = "^0.7.0"
rich = "^13.0.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
